<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
 <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>

</head>
<body>
<div>
	<h2 >Product Creation</h2>
	<tr>
	<div align = "left" >
	<h3><a  th:href="@{'/Product/addproduct'}">Add new product</a></h3>	
	<h3><a th:href="@{'/index'}">Home</a> </h3>   
</div>
	
	</tr>

	<div class="col-sm-8" align = "center">
        <div class="panel-body" align = "center" >
                 
                 
  	<table class="table">
 	<thead class="thead-dark">
        <tr>
      	     <th>Product ID</th>
            <th>Product Name</th>
            <th>Price</th>
             <th>edit</th>
             <th>delete</th>
   	</tr>
  </thead>
  <tbody>
      <tr  th:each="product : ${listproduct}">
		<td th:text="${product.id}">Product ID</td>
		<td th:text="${product.productname}">Product Name</td>
		<td th:text="${product.price}">Price</td>

		<td>
			<a th:href="@{'/Product/edit/' + ${product.id}}">Edit</a>
		</td>							    
		<td>
			<a th:href="@{'/Product/delete/' + ${product.id}}">Delete</a>
		</td>		    
		</tr> 
  </tbody>
  </table>                 
</div>
</div> 

</tr>

</tbody>
</table>
<div>

</body>
</html>